<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}super.ba{% endblock %}</title>
        <!-- Bootstrap core CSS -->
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/font-awesome.min.css" rel="stylesheet">
        <link href="/css/style.css" rel="stylesheet">
        <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.0-RC1/css/bootstrap-datepicker.standalone.min.css" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script src="{{ asset('js/tether.min.js') }}"></script>
        <script src="{{ asset('js/jquery.min.js') }}"></script>
        <script src="{{ asset('js/js.cookie.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/mustache.min.js') }}"></script>
        <script src="{{ asset('js/moment.min.js') }}"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.0-RC1/js/bootstrap-datepicker.min.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="header clearfix">
                {% block navigation %}
                <nav>
                    <ul class="nav nav-pills float-right">
                        <li class="nav-item">
{#                            {{ render(controller('AppBundle:Default:searchForm')) }}#}
                        </li>
                        <li class="nav-item">
                            <div class="dropdown">
                                {% set no = app.session.get('_article_no') %}
                                <a class="btn btn-secondary dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ no ? no : 3 }}
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item {{ no == 3 ? ' active' }}" href="{{ path('number_of_articles', {'no': 3}) }}">3</a>
                                    <a class="dropdown-item {{ no == 5 ? ' active' }}" href="{{ path('number_of_articles', {'no': 5}) }}">5</a>
                                    <a class="dropdown-item {{ no == 10 ? ' active' }}" href="{{ path('number_of_articles', {'no': 10}) }}">10</a>
                                    <a class="dropdown-item {{ no == 20 ? ' active' }}" href="{{ path('number_of_articles', {'no': 20}) }}">20</a>
                                    <a class="dropdown-item {{ no == 30 ? ' active' }}" href="{{ path('number_of_articles', {'no': 30}) }}">30</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a id="volumeCtrl" class="nav-link" href="#" onclick="toggleMute()">
                                <i class="fa fa-volume-off"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#collapseFilter" onclick="$('.header-menu').slideToggle('fast');" aria-expanded="false" aria-controls="collapseFilter">
                                <i class="fa fa-filter"></i>
                            </a>
                        </li>
                        <!--
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-toggle="modal" data-target="#timeModal">
                                {% if app.session.get('_date') is not null %}
                                    <div class="text-success">
                                        <i class="fa fa-clock-o"></i>
                                    </div>
                                {% else %}
                                    <div class="text-primary">
                                        <i class="fa fa-clock-o"></i>
                                    </div>
                                {% endif %}
                            </a>
                        </li>
                        -->
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-toggle="modal" data-target="#helpModal">
                                <i class="fa fa-question-circle"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
                {% endblock %}
                <h3 class="text-muted">
                    <a href="{{ path('homepage') }}">super.ba</a> |
                    <small>
                        <a href="{{ path('tech') }}">Tech</a>
                    </small>
                </h3>
            </div>

            <div class="header-menu">
                {% block headermenu %}
                {% endblock %}
            </div>

            <div class="collapse" id="collapseFilter">
                <div class="text-sm-center">
                    {% block filters %}
                    {% endblock %}
                </div>
            </div>

            <audio id="audio" >
                <source src="/audio/ding.mp3" type='audio/mpeg; codecs="mp3"'/>
            </audio>

            <div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="helpModalLabel">Šta je ovo?</h4>
                        </div>
                        <div class="modal-body">
                            <p>Ništa - ostavi otvorenu stranicu i nove vijesti će se same pojaviti na vrhu stranice čim ih objavi jedan od portala.</p>
                            <p>Filteri - Ugasi portale od kojih ne želiš da dobijaš nove vijesti.</p>
                            <p>Vremoplov - Još nije izmišljen.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Kontam</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="timeModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="timeModalLabel">Vremeplov</h4>
                        </div>
{#                        {{ render(controller('AppBundle:Default:dateForm')) }}#}
                    </div>
                </div>
            </div>

            {% block body %}{% endblock %}

            <div class="footer-menu">
                {% block footermenu %}
                {% endblock %}
            </div>

            {% block footer %}
                {{ include(':default:_footer.html.twig') }}
            {% endblock %}
        </div> <!-- /container -->

        <script>
            {% if app.environment == 'dev' %}
                var wsserver = 'ws://localhost:1880';
            {% else %}
                var wsserver = 'wss://super.ba:1880';
            {% endif %}
        </script>

        {% block javascripts %}{% endblock %}

        {% include 'default/_rss_template.html' %}
    </body>
</html>
