<div class="text-center text-muted">
    <small><a href="{{ path('tech') }}">Index</a> •
        <a href="{{ path('tech_source', {'source': 'CNet'}) }}">CNet</a> |
        <a href="{{ path('tech_source', {'source': 'Engadget'}) }}">Engadget</a> |
        <a href="{{ path('tech_source', {'source': 'Mashable'}) }}">Mashable</a> |
        <a href="{{ path('tech_source', {'source': 'TechCrunch'}) }}">TechCrunch</a> |
        <a href="{{ path('tech_source', {'source': 'TechRadar'}) }}">TechRadar</a> |
        <a href="{{ path('tech_source', {'source': 'The Next Web'}) }}">The Next Web</a> |
        <a href="{{ path('tech_source', {'source': 'The Verge'}) }}">The Verge</a> |
        <a href="{{ path('tech_source', {'source': 'WIRED'}) }}">WIRED</a>
    </small>
</div>
