<div class="text-center text-muted">
    <small><a href="{{ path('homepage') }}">početna</a> •
        <a href="{{ path('source', {'source': '24sata info'}) }}">24sata info</a> |
        <a href="{{ path('source', {'source': '6yka magazin'}) }}">6yka magazin</a> |
        <a href="{{ path('source', {'source': 'Aljazeera Balkans'}) }}">Aljazeera Balkans</a> |
        <a href="{{ path('source', {'source': 'Avaz'}) }}">Avaz</a> |
        <a href="{{ path('source', {'source': 'CIN'}) }}">CIN</a> |
        <a href="{{ path('source', {'source': 'Klix'}) }}">Klix</a> |
        <a href="{{ path('source', {'source': 'N1 Info'}) }}">N1 Info</a> |
        <a href="{{ path('source', {'source': 'Radio Sarajevo'}) }}">Radio Sarajevo</a>
    </small>
</div>