<div class="col-sm-12 bs-callout box">

    <div class="col-sm-12">
        <strong>
            <a href="{{ item.link }}" target="_blank">
                {{ item.title|raw }}
            </a>
        </strong>
    </div>
    <div class="col-sm-12"><hr></div>

    {% if item.image is not empty %}
        <div class="col-sm-4">
            <a href="{{ item.link }}" target="_blank">
                <img src="{{ item.image }}" class="img-rounded img-fluid m-x-auto d-block" />
            </a>
        </div>
        <div class="col-sm-8">
            {{ item.description|raw }}
        </div>
    {% else %}
        <div class="col-sm-12">
            {{ item.description }}
        </div>
    {% endif %}

    <div class="col-sm-12">
        <hr>
        <div class="col-sm-8">
            <img style="width: 20px;" src="{{ item.source.logo }}" class="img-rounded" />
            <small>
                <strong>
                    <a href="{{ item.source.url }}" target="_blank">
                        {{ item.source.title }}
                    </a>
                </strong>
            </small>
        </div>
        <div class="col-sm-4 text-sm-right">
            <p class="text-muted">
                <small>
                    {{ item.pubDate|date('H:i:s') }}
                </small>
            </p>
        </div>
    </div>

</div>