<div class="col bs-callout box">
    <div class="row">
        <div class="col-11">
            <strong>
                <a href="{{ item.link }}" target="_blank">
                    {{ item.title }}
                </a>
            </strong>
        </div>
        <div class="col-1 pull-right">
            <small>
            {% if item.sentiment %}
                <span class="badge badge-sentiment"
                        {% if item.sentiment.positive or item.sentiment.negative %}
                      data-html="true"
                      data-toggle="popover"
                      data-container="body"
                      data-placement="top"
                      data-content="<small>
                                  {% if item.sentiment.positive %}
                                  {{ item.sentiment.positive|join(', ') }}
                                  {% endif %}

                                   {% if item.sentiment.positive and item.sentiment.negative %}
                                    <hr/>
                                    {% endif %}

                                  {% if item.sentiment.negative %}
                                  {{ item.sentiment.negative|join(', ') }}
                                  {% endif %}
                                  </small>
                                  {% endif %}">
                                {{ item.sentiment.score }}
                            </span>
            {% else %}
                <span class="badge badge-default">0</span>
            {% endif %}
            </small>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <a href="{{ item.link }}" target="_blank">
                <img src="{{ item.image is not null ? item.image : item.source.logo }}" class="rounded img-fluid m-x-auto d-block" />
            </a>
        </div>
        <div class="col-8">
            {{ item.description }}
        </div>
    </div>

    <div class="row">
        <div class="col">
            <hr>
            <div class="row">
                <div class="col">
                    <img style="width: 20px;" src="{{ item.source.logo }}" class="rounded" />
                    <small>
                        <strong>
                            <a class="text-muted" href="{{ item.source.url }}" target="_blank">
                                {{ item.source.title }}
                            </a>
                        </strong>
                    </small>
                </div>
                <div class="col text-right">
                    <p class="text-muted">
                        <small>{{ item.pubDate|date('d M Y H:i') }}</small>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>