{% set userUrl = '#' %}

{% if doc.user is defined %}
    {% if doc.user.url is not null %}
        {% set userUrl = doc.user.url %}
    {% elseif doc.user.screen_name is defined %}
        {% set userUrl = 'https://twitter.com/'~doc.user.screen_name %}
    {% endif %}
{% endif %}

{% set url = 'https://twitter.com/statuses/'~doc.id %}

{% if doc.entities is defined %}
    {%  if doc.entities.urls is iterable %}
        {% set firstUrl = doc.entities.urls|first %}
        {% if firstUrl.url is defined %}
            {% set url = firstUrl.url %}
        {% endif %}
    {% endif %}
{% endif %}

<div class="col-sm-12 bs-callout box">
    <div class="col-sm-8">
        {% if doc.user is not empty %}
        <img style="width: 20px;" src="{{ doc.user.profileImageUrlHttps }}" class="img-rounded" />
        <small><strong><a href="{{ userUrl }}" target="_blank">
                    {{ doc.user.name }}
                    <small class="text-muted">
                        {% if doc.user.location is not null %}
                            {{ doc.user.location }}
                        {% endif %}
                    </small>
                </a></strong></small>
        {% endif %}
    </div>
    <div class="col-sm-4 text-sm-right">
        <p><small>
                <a class="" href="{{ url }}" target="_blank">
                    <i class="fa fa-clock-o"></i>
                    {{ doc.createdAt|date('H:i:s') }}
                    <i class="fa fa-arrow-right"></i>
                </a>
            </small>
        </p>
    </div>
    <div class="col-sm-12"><hr></div>
    {% if doc.entities.media is not empty %}
        {% if doc.entities.media is iterable %}
    {% set media = doc.entities.media|first %}
    <div class="col-sm-4">
            {% if url is defined %}
                <a href="{{ url }}" target="_blank">
            {% endif %}
            <img src="{{ media.mediaUrlHttps }}" class="img-rounded img-fluid m-x-auto d-block" />
            {% if url is defined %}
                </a>
            {% endif %}
    </div>
    {% endif %}
    <div class="col-sm-8">
        {% else %}
        <div class="col-sm-12">
            {% endif %}
            {{ doc.text|raw|linkify(['http', 'https', 'twitter'], {'target':'_blank'}) }}
        </div>
    </div>
</div>