{% extends 'base.html.twig' %}

{% block body %}

    <!--div class="jumbotron">
        <h1 class="display-3"></h1>
        <br/>
        <p><a id="amqp-push" class="btn btn-lg btn-danger" href="#" role="button">Push message</a></p>
    </div-->

    <div class="row">
        <div class="col-lg-12">
            <div id="marker"></div>
        </div>
        <div class="navbar-divider"></div>
    </div>

    <script type="text/javascript" src="{{ asset('bundles/goswebsocket/js/gos_web_socket_client.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/goswebsocket/js/vendor/autobahn.min.js') }}"></script>

{% endblock %}

{% block javascripts %}
    <script>
        var webSocket = WS.connect("ws://{{ gos_web_socket_server_host }}:{{ gos_web_socket_server_port }}");

        webSocket.on("socket/connect", function(session){

            function subscribe() {
                session.subscribe("news/channel", function(uri, payload){
                    if (payload) {
                        //console.log(payload);
                        $("#marker").prepend(payload);
                    }
                });
                console.log('sub ok');
            }

            subscribe();

            $("#stopper").click(function(e){
                if (this.innerHTML == "Pause") {
                    this.innerHTML = "Resume";
                    session.unsubscribe("news/channel");
                } else {
                    this.innerHTML = "Pause";
                    $("#marker").html("");
                    subscribe();
                }
            });

            $("#amqp-push").click(function(e){
                e.preventDefault();

                //session.publish("news/channel", "This is a news test message!");

                $.ajax({
                    type: $(this).attr('method'),
                    url: "{{ path('push') }}",
                    data: $(this).serialize()
                    });
            });
        });

        webSocket.on("socket/disconnect", function(error){
            console.log("Disconnected for " + error.reason + " with code " + error.code);
        })
    </script>
{% endblock %}
