{% extends 'base.html.twig' %}

{% block body %}

    <!--div class="jumbotron">
        <h1 class="display-3"></h1>
        <p class="lead">za ovisnike o nepotrebnim informacijama</p>
    </div-->

    <div class="row marketing">
        <div class="col-sm-12">
            {% for doc in results %}
            {% if doc.user.url is not null %}
                {% set userUrl = doc.user.url %}
                {% else %}
                {% set userUrl = 'https://twitter.com/'~doc.user.screenName %}
            {% endif %}

            {% if doc.entities.urls is iterable %}
                {% set firstUrl = doc.entities.urls|first %}
                {% if firstUrl.url is defined %}
                    {% set url = firstUrl.url %}
                    {% else %}
                    {% set url = 'https://twitter.com/statuses/'~doc.id %}
                {% endif %}
            {% endif %}

                <div class="col-sm-12 bs-callout box">
                    <div class="col-sm-8">
                        <img style="width: 20px;" src="{{ doc.user.profileImageUrlHttps }}" class="img-rounded" />
                        <small><strong><a href="{{ userUrl }}" target="_blank">
                                    {{ doc.user.name }}
                                    <small class="text-muted">
                                        {% if doc.user.location is not null %}
                                            {{ doc.user.location }}
                                        {% endif %}
                                    </small>
                                </a></strong></small>
                    </div>
                    <div class="col-sm-4 text-sm-right">
                        <p><small>
                                <a class="" href="{{ url }}" target="_blank">
                                    <i class="fa fa-clock-o"></i>
                                    {{ doc.createdAt|date('H:i:s') }}
                                    <i class="fa fa-arrow-right"></i>
                                </a>
                            </small>
                        </p>
                    </div>
                    <div class="col-sm-12"><hr></div>
                    {% if doc.entities.media is iterable %}
                        {% set media = doc.entities.media|first %}
                        <div class="col-sm-4">
                        {% if media is defined %}
                            {% if url is defined %}
                            <a href="{{ url }}" target="_blank">
                                {% endif %}
                                <img src="{{ media.mediaUrlHttps }}" class="img-rounded img-fluid m-x-auto d-block" />
                                {% if url is defined %}
                            </a>
                            {% endif %}
                        {% endif %}
                        </div>
                    <div class="col-sm-8">
                    {% else %}
                    <div class="col-sm-12">
                    {% endif %}
                        {{ doc.text|raw|linkify(['http', 'https', 'twitter'], {'target':'_blank'}) }}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="navbar-divider"></div>
    </div>

{% endblock %}

{% block stylesheets %}
{% endblock %}
