<div id="form_search">
    {{ form_start(form, {'action': path('pretraga'), 'method': 'POST', attr: {id: 'pretraga', class: 'form-inline', novalidate: 'novalidate'}}) }}

    <div class="row">
        <div class="col-md-12 col-xs-12">
            {{ include('default/_flash.html.twig') }}

            {{ form_errors(form) }}

            <div class="col-md-12 col-sm-12 col-xs-12">
                {{ form_row(form.title) }}
            </div>

            {{ form_rest(form) }}
        </div>
    </div>

    {{ form_end(form) }}
</div>
