{{ form_start(form, {'action': path('timemachine'), 'method': 'POST', attr: {id: 'search', novalidate: 'novalidate'}}) }}

<div class="modal-body">
    <div class="row">
        {% if app.session.get('_date') is not null %}
        <div class="col-md-12 col-xs-12 text-center">
            <small>Currently set to {{ app.session.get('_date')|date('d-m-Y') }}</small>
        </div>
        {% endif %}
        <div class="col-md-12 col-xs-12">
            {{ include('default/_flash.html.twig') }}

            {{ form_errors(form) }}

            <div class="col-md-12 col-sm-12 col-xs-12">
                {{ form_row(form.date) }}
            </div>

            {{ form_rest(form) }}
        </div>
    </div>

</div>
<div class="modal-footer">
    <button type="submit" id="time_reset" name="time[reset]" class="btn btn-secondary">Turn OFF</button>
    <button type="submit" id="time_submit" name="time[submit]" class="btn btn-primary">Turn ON</button>
</div>

{{ form_end(form) }}

<script>
    $('.datepicker').datepicker({
        format: 'dd-mm-yyyy',
        autoclose: true,
        endDate: "0d",
        todayHighlight: true
    });
</script>
